<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>
<body>
    <h1>Fiber-MySQL Test Page</h1>
    <input id="id" placeholder="ID" type="text" name="ID"/>
    <input id="send" type="button" value="SEND">
</body>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
    $("#send").click(function () {
        var id = $("#id").val();
        // $.get(`/api/user/${id}`);
        $(location).attr('href', `/api/user/${id}`);
    })
</script>

</html>
