basePath: /
definitions:
  models.ResponseModel:
    properties:
      code:
        type: integer
      data:
        type: object
      message:
        type: string
    type: object
  models.User:
    properties:
      address:
        type: string
      back_number:
        type: integer
      created_at:
        type: string
      id:
        type: integer
      name:
        type: string
      password:
        type: string
      phone:
        type: string
      preferred_position:
        type: string
      updated_at:
        type: string
      user_id:
        type: string
    type: object
host: localhost:3000
info:
  contact:
    email: note@kakao.com
    name: jin-wk
    url: https://github.com/jin-wk
  description: Basic Application by Fiber with MySQL
  title: Fiber-MySQL
  version: "1.0"
paths:
  /api/user/{id}:
    get:
      consumes:
      - application/json
      description: Get User Profile by ID
      parameters:
      - description: id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/models.ResponseModel'
            - properties:
                data:
                  $ref: '#/definitions/models.User'
              type: object
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.ResponseModel'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/models.ResponseModel'
      summary: Get a User Profile
      tags:
      - users
swagger: "2.0"
